.announcement-box {
    height: 15vh;
    width: 30vw;
    background-color: rgb(3, 29, 100);
    opacity: 0;
    border-radius: 20px;
    position: fixed;
    visibility: hidden;
    z-index: 9;
    left: 35vw;
    top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.announcement-box-animate{
    animation-name: show-hide;
    animation-duration: 3s;
}
@keyframes show-hide {
    0% {
        opacity: 0;
        visibility: visible;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.announcement-text {
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
    font-size: calc(10px + 1.5vw);
    font-weight: 600;
}
.right{
    color: rgb(4, 167, 4);
}
.wrong {
    color: rgb(247, 120, 120);
}