.searching{
    height: 100%;   
    position: relative;
}
.to-find{
    height: 70%;
    display: flex;
    gap: 10px;
    align-items: flex-end;
}
.to-find-img{
    height: 100%;
}
.searching-text{
    font-weight: 600;
}
.grayscale{
    filter: grayscale(100%);
}
.to-find-name{
    position: absolute;
    height: 50%;
    width: 70%;
    background-color: rgb(3, 29, 100);
    opacity: 0.7;
    border-radius: 0 0 15px 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transform: translateX(15%);
    animation-name: show-name;
    animation-duration: 1s;
}
.hide-box{
    visibility: hidden;
    opacity: 0;
}

@keyframes show-name {
    0% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
    }
}