.start-header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-page {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}